
    body {
      background: #232323;
      /*background: url("http://www.nba.com/cavaliers/sites/cavaliers/files/imagecache/slider_image/usa_basketball_120521_670.jpg");*/
      background-size: cover;
      color: white;
      font-family: calibri;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    
    }
   div {
      height: 100px;
      position: relative;
      margin: 40px 0 0 0;
      border-radius: 12px;
      max-width: 600px;
  }
    p {
      padding: 0px;
      line-height: 20px;
      text-align: justify;
      position: absolute;
      margin: 10px;
      height: 20px;   
    }
    img {
      border: 10px white solid;
      margin-top: 50px;
      padding: 0;
    }
    .mayhem {
        max-height: 50%;
        max-width: 50%;
        border-radius: 60px 60px 10px 10px;
        border-bottom: 40px solid #666;
        position: relative;
        top: -550px;
        left: 600px;
        z-index: -1;
        transform:scale(0.40);
        -moz-transform:scale(0.40);
        -webkit-transform:scale(0.40); 
        font-size: 28px;  
}
    .mari {
        max-height: 50%;
        max-width: 50%;
        border-radius: 60px 60px 10px 10px;
        position: relative;
        top: -100px;
        left: -450px;
        z-index: -1;
        transform:scale(0.60);
        -moz-transform:scale(0.60);
        -webkit-transform:scale(0.60); 
        font-size: 28px;  
      }

